body {
	display: -webkit-flex;
	-webkit-flex-direction: column;
	flex-direction: column;
	display: flex;
	min-height: 100vh;
}

html, body {
	padding: 0;
	margin: 0;
	color: #333;
	background: #fff;
}

#hero {
	text-align: center;
	padding-bottom: 5em;
	padding-top: 5em;
}

.ui-border {
	border-radius: 3px;
	border: 1px solid #333;
}

a {
	border-bottom: 1px dotted;
	text-decoration: none;
	color: #097;
}

a:hover {
	color: #0a8;
}

a:visited {
	color: #054;
}

#draft {
	margin-bottom: 3em;
}

.button {
	cursor: pointer;
}

.ui-elem {
	background: #fff;
	font-size: 1em;
	opacity: 0.8;
	padding: 0.3em;
	border-radius: 3px;
	font-family: sans-serif;
	font-weight: 300;
	border: 1px solid #333;
}

.landing-button {
	line-height: 200%;
	display: inline-block;
	width: 10em;
	white-space: nowrap;
	border-radius: 3px;
	border: none;
	margin: 0.5em;
	background: #0a6;
	font-size: 1.5em;
	text-decoration: none;
	font-family: sans-serif;
	font-weight: 300;
}

.landing-button.demo {
	opacity: 0.9;
	background: #ddd;
	color: black !important;
}

.landing-button:hover {
	background: #0b7;
}

.landing-button.demo:hover {
	background: #eee;
}

footer {
	text-align: center;
	padding-bottom: 1em;
	font-size: 0.8em;
	width: 100%;
	font-family: sans-serif;
	font-weight: 300;
}

footer a {
	border: none;
}

h1, h2, h3, h4, h5, h6 {
	font-family: sans-serif;
	font-weight: 400;
}

h1 {
	font-size: 1.8em;
}

h2 {
	font-size: 1.6em;
}

h3 {
	font-size: 1.4em;
}

h4 {
	font-size: 1.2em;
}

h5 {
	font-size: 1.1em;
}

h6 {
	font-size: 1.0em;
}

#hero h1 {
	font-size: 2.5em;
}

#hero h2 {
	margin: 2em;
	font-family: sans-serif;
	font-weight: 300;
}

#dashed-line {
	border-bottom: 1px dashed#888;
}

article {
	text-align: justify;
	margin-top: 3em;
	margin-bottom: 5em;
	font-family: sans-serif;
	margin-right: auto;
	margin-left: auto;
}

article img {
	max-width: 100%;
}

article p {
	line-height: 140%;
	font-size: 1.05em;
}

article > h1:first-child {
	margin: 2em;
	font-size: 2.0em;
	text-align: center;
}

.central-element {
	margin-right: auto;
	margin-left: auto;
}

blockquote {
	font-family: Georgia, Palatino, "Palatino Linotype", serif;
	padding-left: 1em;
	border-left: 4px solid #097;
}

.centered {
	text-align: center;
}

.bottom-space {
	margin-bottom: 7em;
}

code, pre {
	font-size: 1.05em;
	background: #efefef;
	font-family: monospace;
}

pre {
	border: 1px solid #aaa;
	padding: 0.5em;
	border-radius: 3px;
}

*:focus {
	outline: 0px none transparent;
}

table {
	border-collapse: collapse;
	width: 100%;
}

th {
	background-color: #efefef;
	line-height: 2.5em;
	padding: 0.3em;
}

td {
	line-height: 2.5em;
	padding: 0.3em;
	border-top: 1px solid #aaa;
}

.middot {
	padding: 0.5em;
}

/* MEDIA QUERIES */ 

@media screen and (min-width: 1024px) {
	article, .central-element {
		width: 800px;
	}
	#dashed-line {
		margin-bottom: 3em;
		margin-top: 3em;
	}
}

@media screen and (max-width: 1023px) {
	article, .central-element {
		width: 90%;
	}
	#dashed-line {
		margin-bottom: 0.5em;
		margin-top: 0.5em;
	}
	#previewPane {
		display: none !important;
	}
}

#previewPane article {
	margin: 0;
}

#editContainer {
	display: flex;
	height: 100%;
}

#previewPane {
	flex: 1 0 50%;
	display: flex;
	height: 100%;
	overflow-y: auto;
	margin: 0 !important;
	border-left: 1px solid #444;
}

#previewPane article {
	flex: 1 0;
	padding: 2em;
}

#previewPane article h1 {
	margin: 0;
}

#editPane {
	display: flex;
	flex-direction: column;
	flex: 1 0 50%;
	height: 100%;
}

textarea {
	font-size: 1em;
	font-family: Courier;
	border-radius: 5px;
	flex: 1 0;
	margin: 1em;
}

textarea, fieldset {
	border: none;
}

fieldset {
	padding-left: 1em;
	padding-right: 1em;
	font-family: sans-serif;
}

#tableau {
	font-weight: lighter;
	float: right;
}