{{define "Note"}}
<!DOCTYPE html>
<html>
    <head>
        <title>NoteHub &mdash; {{.Title}}</title>
        <meta charset="UTF-8" />
        <meta content="width=device-width, initial-scale=1.0" name="viewport" />
        <link href="/style.css" rel="stylesheet" type="text/css" />
        <script src='/note.js'></script>
    </head>
    <body>
        {{if .Fraud}}
        {{.Ads}}
        <input type="hidden" id="encoded" value="{{.Encoded}}" />
        <article></article>
        <script>
            document.getElementsByTagName("article")[0].innerHTML =
                decodeURIComponent(escape(window.atob(document.getElementById("encoded").value)));
        </script>
        {{else}}
        <article>
            {{.Content}}
        </article>
        {{end}}
        <footer>
            <a href="/">&#8962; notehub</a> &middot;
            {{if .ID}}
            <a href="/{{.ID}}/stats">stats</a> &middot;
            <a href="/{{.ID}}/edit">edit</a> &middot;
            <a href="/{{.ID}}/export">export</a> &middot;
            <a href="javascript:void(0)" onclick="report({{.ID}})">report abuse</a> &middot;
            {{end}}
            <a href="/TOS.md">tos</a>
        </footer>
    </body>
</html>
{{end}}
