{{define "Note"}}
<!DOCTYPE html>
<html>
    <head>
        <title>NoteHub &mdash; {{.Title}}</title>
        <meta charset="UTF-8" />
        <meta content="width=device-width, initial-scale=1.0" name="viewport" />
        <link href="/style.css" rel="stylesheet" type="text/css" />
        <script src='/note.js'></script>
    </head>
    <body>
        {{.Ads}}
        <article>
            {{.Content}}
        </article>
        <footer>
            <a href="/">&#8962; notehub</a> &middot;
            {{if .ID}}
            <a href="/{{.ID}}/stats">statistics</a> &middot;
            <a href="/{{.ID}}/edit">edit</a> &middot;
            <a href="/{{.ID}}/export">export</a> &middot;
            <a href="javascript:void(0)" onclick="report({{.ID}})">report abuse</a> &middot;
            {{end}}
            <a href="/TOS.md">terms of service</a>
        </footer>
    </body>
</html>
{{end}}
